#ticker_tape {
    overflow: hidden;
    height:40px;
    #wrapper {
      display: block;
      overflow: auto;
      // transform: translateX(-80%);
    background: rebeccapurple;
    &.animate {
    animation-name: move;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: 3;
    }

    // @keyframes move {
    //     0% {
    //         transform: translateX(0);
    //     }

    //     100% {
    //         transform: translateX(calc(-50%  + 524px));
    //     }
    // }
  }
  p {
    // display: inline-block;
    display: block;

    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 1;
    float: left;
  }
}
