#ticker_tape {
  overflow: hidden;
  height: 40px;
  #wrapper {
    display: block;
    overflow: auto;
    background: rebeccapurple;
    // transform: translateX(calc(-100% + 80vw));
    transform: translateX(-50%);
    &.animate {
      // animation-name: move;
      animation-timing-function: linear;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }

    @keyframes move {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(calc(-50%));
      }
    }
  }
  p {
    // display: inline-block;
    display: block;
    padding: 0;
    padding-right: 10px;
    margin: 0;
    font-size: 40px;
    line-height: 1;
    float: left;
  }
}
